# Project Title

## Part 1. Quantitative Analysis of the Industry Sector

### A. Industry Sector Selection and Data Filtering

1. The industry sector that our group chose is "56 Apparel And Accessory Stores".

In [6]:
# 2. Filtering data
# import public firm data
import pandas as pd

firms = pd.read_csv("C:/Users/user/Desktop/Semester 1/BAIT 508/Project data/public_firms.csv")
firms.head()

,gvkey,fyear,location,conm,ipodate,sic,prcc_c,ch,ni,asset,sale,roa
0,1004,1994,USA,AAR CORP,1988/01/01,5080,13.375,22.487,10.463,425.814,451.395,0.024572
1,1004,1995,USA,AAR CORP,1988/01/01,5080,22.000,33.606,16.012,437.846,504.990,0.036570
2,1004,1996,USA,AAR CORP,1988/01/01,5080,30.250,51.705,23.025,529.584,589.328,0.043478
3,1004,1997,USA,AAR CORP,1988/01/01,5080,38.750,17.222,35.657,670.559,782.123,0.053175
4,1004,1998,USA,AAR CORP,1988/01/01,5080,23.875,8.250,41.671,726.630,918.036,0.057348

In [7]:
# Filtering firms belonging to the "Apparel And Accessory Stores" industry sector 
# (major_group = 56)

# Major group 56 corresponds to SIC codes starting with 56
filtered = firms[(firms["sic"] >= 5600) & (firms["sic"] < 5700)].copy()

# Display number of rows after filtering and show first few rows
print("Number of rows after filtering:", len(filtered))
filtered.head()

Number of rows after filtering: 1367

,gvkey,fyear,location,conm,ipodate,sic,prcc_c,ch,ni,asset,sale,roa
5923,2484,1995,USA,BURLINGTON COAT FACTORY INVS,NaN,5651,10.2500,14.520,14.866,735.269,1584.942,0.020218
5924,2484,1996,USA,BURLINGTON COAT FACTORY INVS,NaN,5651,13.0000,73.560,29.013,704.731,1591.964,0.041169
5925,2484,1997,USA,BURLINGTON COAT FACTORY INVS,NaN,5651,16.4370,157.394,56.515,775.077,1758.368,0.072915
5926,2484,1998,USA,BURLINGTON COAT FACTORY INVS,NaN,5651,16.3125,106.952,47.783,941.635,1988.513,0.050745
5927,2484,1999,USA,BURLINGTON COAT FACTORY INVS,NaN,5651,13.8750,127.818,61.120,1046.047,2198.696,0.058429

In [ ]:
# 3. Questions based on filtered dataset

# a. unique firm-year observations
# Each row is one firm (gvkey) in one year (fyear).
# drop_duplicates() is used on [gvkey, fyear] to make sure that if a firm-year appears more than 
# once in the dataset, it is only counted once.
n_firmyear = filtered[["gvkey", "fyear"]].drop_duplicates().shape[0]
print("a) Unique firm-year observations:", n_firmyear)

# b. unique firms (using gvkey)
unique_firms = filtered["gvkey"].nunique()
print("b) Unique firm observations:", unique_firms)

# c. firms that have records for all 27 years (1994–2020)
# count how many distinct years each firm appears in
full_period_firms = (filtered.groupby("gvkey")["fyear"].nunique())   
full_period_firms = (full_period_firms == 27).sum()  # count how many == 27 (ie. how many in all years)
print("c) Number of firms with records for all 27 years:", full_period_firms)

a) Unique firm-year observations: 1367
b) Unique firm observations: 105
c) Number of firms with records for all 27 years: 11

### B. Preliminary Analysis